.HideChildren ol {
    display: none;
}

li.HasChildren.HideChildren:before {
    content: "+ ";
}
li.HasChildren:before {
    content: "- ";
}
li > .Anchor {
    text-decoration: underline;
    cursor: pointer;
}

.QuestionEntry {
    font-weight: bold;
}
.AnswerEntry {
    margin-left: 20px;   
}